@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=VT323&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

html{
    font-family: 'Fredericka the Great', cursive;
    font-family: 'VT323', monospace;
    font-size: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: 8px solid rgb(12, 141, 0);
    border-radius: 1%;
}

.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px rgb(12, 141, 0);
    overflow-x: auto;
}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap ;
    width: 100%;
}

.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px  solid rgb(12, 141, 0);
}

.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
}
.keypad-button.red{
    background-color: rgb(133, 161, 135);
}

.keypad-button.large{
    width: 50%;
}

.keypad-button.grey {
    background-color: lightgrey;
}